html{
  margin: 0;
  padding:0;
}

#button{
  font-size: 24px;
  font: 1.3rem Inconsolata, Monospace;
  border: none;
  margin: 10px;
  color: white;
  background-color: black;

}

#commands{
  text-align: center;
  margin: 20px;
  font-size: 24px;
  font: 1.3rem Inconsolata, Monospace;
  border: none;
  margin: 10px;
  color: white;
  background-color: black;
  float: left;


}

#commands-skip{
  text-align: center;
  margin: 20px;
  font-size: 24px;
  font: 1.3rem Inconsolata, Monospace;
  border: none;
  margin: 10px;
  color: white;
  background-color: black;
  float: right;
  margin-right:70px;


}

#main{
  background-color: black;
  height: 100vh;
  width: 100vw;

}

body{


margin:0;
margin-top: 0px;
}

head{

  margin-top: 0;
}

p{
  text-align: center;

  font-size: 24px;
  font: 1.3rem Inconsolata, Monospace;
  border: none;
  padding-top: 40vh;
  color: white;
  white-space: pre;


}



@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.skip {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
